@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: #1f2935
}

:not(pre)>code {
  border-radius: 2px;
  background-color: #fff;
  color: #1a1a1a;
}



pre {
  box-shadow: 0 20px 60px rgba(0, 0, 0, .3);
}